.cart_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 10;
  cursor: pointer;
}

.cart_quantity {
  color: #f3efeb;
}

.wrapper_cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_cart {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -4px;
  background: #c39d65;
  transition: 0.3s;
}
